body{
    background-color:black;
}

h1{ 
    color:greenyellow;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    text-decoration: underline;
}


li{
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}